extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1 = title
    .row
      .col-md-6.col-sm-12
        p
          | OnBarbers fue creada con dos propósitos: ayudar a la gente a 
          | encontrar una barbería cercana, con información sobre sus 
          | servicios, horarios, promociones e instalaciones y ayudar a los 
          | dueños de las barberías a dar a conocer sus negocios.
          | <br /><br />
          | Crear un slogan que genere tendencia
