extends layout

block content
  //inicioheader
  .row.page-header
    .col-lg-12
      h1 Schorem Barber Shop
  //fin Header
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          p.rating
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star-empty
            span.glyphicon.glyphicon-star-empty
          p Cra 44 # 14 - 100, Revistas, Juegos
          p Whatsapp: 310 6893155
          .panel.panel-primary
            .panel-heading
              h2.panel-title Horario atención
            .panel-body
              p Lunes - Viernes : 10:00AM - 8:00PM
              p Sábados y Domingos: 9:00AM - 10:00PM
          .panel.panel-primary
            .panel-heading
              h2.panel-title Comodidad
            .panel-body
              span.label.label-warning
                span.glyphicon.glyphicon-ok
                | &nbsp; Aire acondicionado
              | &nbsp;
              span.label.label-warning
                span.glyphicon.glyphicon-ok
                | &nbsp; WiFi
              | &nbsp;
              span.label.label-warning
                span.glyphicon.glyphicon-ok
                | &nbsp; Juegos
              | &nbsp;
        .col-xs-12.col-sm-6.location-map
          .panel.panel-primary
            .panel-heading
              h2.panel-title Ubicación en el mapa
            .panel-body
              img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center=51.455041,-0.9690884&zoom=17&size=400x350&sensor=false&markers=51.455041,-0.9690884&scale=2')
      .row
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              a.btn.btn-default.pull-right(href='/lugar/notas/nueva') Agregar notas
              h2.panel-title Comentarios
            .panel-body.review-container
              .row
                .review
                  .well.well-sm.review-header
                    span.rating
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                    span.reviewAuthor dJoin
                    small.reviewTimestamp 8 Noviembre 2016
                  .col-xs-12
                    p Excelente servicio y muy profesionales.
              .row
                .review
                  .well.well-sm.review-header
                    span.rating
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star-empty
                      span.glyphicon.glyphicon-star-empty
                      span.glyphicon.glyphicon-star-empty
                    span.reviewAutor dJoin
                    small.reviewTimestamp 8 Noviembre 2016
                  .col-xs-12
                    p No hay WiFi y no dan café, se demoran mucho.
    .col-xs-12.col-md-3
      p.lead Barbería Desvanecidos 316 está en OnBarbers porque es un sitio con gente profesional, cuenta con WiFi, café y juegos.
      p Si el sitio te ha gustado o no, deja un comentario y comparte con otros para que vivan tu experiencia en la barbería.


