extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 BarbersOn
          small &nbsp;Encuentra las barberías cerca de tu ubicación!
  .row
    .col-xs-12.col-sm-8
      p
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href="/lugares") Estrellas
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 100m
          p.address Calle 14 # 37 - 03 
          p.whatsapp Citas: 3106893155 
          p.horario Horario: 10:00 AM - 8:00 PM 
          p
            span.label.label-warning Aire
            | &nbsp;
            span.label.label-warning Cerveza
            | &nbsp;
            span.label.label-warning WiFi
            | &nbsp;
    .col-xs-12.col-sm-4
      p.lead Buscando una barbería cerca de tu zona? BarbersOn te ayudará a encontrar barberías a tu alrededor desde cualquier parte de Cali. La quieres con WiFi, aire acondicionado, café o cerveza? Con BarbersOn podrás conocer los sericios que estás buscando desde tu dispositivo.
